.main-body-container{
  display: flex;
  gap: 15px;
}

.component-box-1{
  width: 25%;
  height: 85vh;
  border: 1px solid black;
  margin-top: 5px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.component-box-2{
  width: 25%;
  height: 85vh;
  border: 1px solid black;
  margin-top: 5px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.component-box-3{
  width: 25%;
  height: 85vh;
  border: 1px solid black;
  margin-top: 5px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.component-box-4{
  width: 25%;
  height: 85vh;
  border: 1px solid black;
  margin-top: 5px;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-title{
  display: flex;
  align-items: center;
  border-bottom:1px solid black ;
  padding: 10px;
  text-transform: uppercase;
  color: rgba(254, 35, 35, 0.882);
  gap:85%;
}