/* This is mini box in nav bar */
.nav-bar-box{ 
  border: 1px solid black;
  border-left: none;
  width: 5%;
  height: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

}
.nav-bar-wrapper{
  display:flex;
  align-items: center;
  gap:1%;
  
}



.nav-bar-main{
  border: 1px solid black;
  width: 50%;
  height: 41px;
  display:flex;
  
  gap:2%;
  align-items: center;
  
}
.nav-image{
  height: 100%;
  width: 100%;
}
.page-dynamics{
  display: flex;
  gap: 5px;
}