.nav-bar-box{
  border: 1px solid black;
  border-left: none;
  width: 5%;
  height: 100%;

}
.nav-bar-wrapper{
  display:flex;
  align-items: center;
  gap:1%;
}



.nav-bar-main{
  border: 1px solid black;
  width: 50%;
  height: 41px;
  display:flex;
  
  gap:2%;
  align-items: center;
}
.nav-image{
  height: 100%;
  width: 100%;
}